<div class="row">
    <div class="col-xs-6 d-block mx-auto block">
        <h1>Logged bugs</h1>
    </div>
    <div class="col-xs-6 d-block mx-auto block">
        <button class="btn btn-outline-success mx-auto d-block" [attr.data-target]=" '#' + bugModal.modalId" data-toggle="modal">Create Bug <i class="fa fa-cross"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="form-check form-check-inline">
            <span>
        <strong>severity: </strong>
        </span>
            <label class="form-check-label">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> highest
  </label>
        </div>
        <div class="form-check form-check-inline">
            <label class="form-check-label">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> lowest
  </label>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bug of bugs" [attr.data-target]=" '#' + bugModal.modalId" data-toggle="modal" (click)="bugModal.configureForm(bug)">
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.status | status }}</td>
                    <td>{{ bug.severity | severity}}</td>
                    <td>{{ bug.description }}</td>
                    <td>{{bug.createdBy}}</td>
                    <td>{{ bug.createdDate | time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<bug-detaill #bugModal></bug-detaill>