<div class="row">
    <div class="col-xs-6">
        <h1>Logged bugs</h1>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-outline-success">Create Bug</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Severit</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>hello</td>
                    <td>logged</td>
                    <td>Severe</td>
                    <td>Needs to be fixed</td>
                    <td>james</td>
                    <td>5/12/2020</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>