#severityGroup {
    margin-top: 10px;
    padding-left: 0;
}
.modal-footer {
    border: 0;
    text-align: center;
    padding-bottom: 4rem;
}

textarea.ng-invalid.ng-dirty {
    border-color: #E99624;
    transition: border-color 0.2s ease;
}

#text-field.ng-invalid.ng-dirty{
    border-color: #E99624;
    transition: border-color 0.2s ease;
    padding-left: 5px;

}