.row:first-child {
  margin-top: 50px;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
blockquote,
a {
  color: #787878;
}

h2 {
  text-align: center;
  font-variant: small-caps;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
