    .nav-item {
        /*float: right;*/
        padding: 5px;
    }

    ul {
        list-style-type: none;
        float: right;
        margin-top: 10px;
    }

    .navbar {
        background: #4568dc;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4568dc, #b06ab3);
        color: #D8DAE7;
        border-radius: 0;
        border: none;
    }

    a {
        text-decoration: none;
        color: #D8DAE7;
    }

    img {
        position: relative;
        vertical-align: middle;
        height: inherit;
    }